{
  "env": {
    "production": {
      "plugins": ["emotion"]
    },
    "development": {
      "plugins": [
        ["emotion", { "sourceMap": true }],
        [
          "babel-plugin-root-import",
          {
            "rootPathSuffix": "./src",
            "rootPathPrefix": "~"
          }
        ],
      ]
    }
  }
}